<input type="text" id="demo-input" name="demo-input" style="width: 91%">
<button id="demo-parse">Parse!</button>
<pre id="demo-preview">
// preview
</pre>
<script type="module">
    import anitomyscript from 'https://cdn.jsdelivr.net/gh/thaunknown/anitomyscript@master/dist/anitomyscript.js'
    const input = document.getElementById('demo-input')
    const button = document.getElementById('demo-parse')
    const preview = document.getElementById('demo-preview')
    input.onkeypress = ({ keyCode }) => {
      if (keyCode === 13) {
        button.click()
      }
    }
    button.onclick = async () => {
      try {
        const parsed = await anitomyscript(input.value)
        preview.innerText = JSON.stringify(parsed, null, 2)
      } catch (err) {
        preview.innerText = err.message
      }
    }
</script>
